<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyJWb_0L4UHcBOhKnjLQZ8QjyawX_ABVk</string>
	<key>GCM_SENDER_ID</key>
	<string>160056085571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Eoin-O-Reilly.fypDemo</string>
	<key>PROJECT_ID</key>
	<string>fypdemo-9f2d5</string>
	<key>STORAGE_BUCKET</key>
	<string>fypdemo-9f2d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160056085571:ios:e33f6c0aacaf54c80a58f6</string>
</dict>
</plist>